<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create debit card</title>
</head>
<body>

<form th:method="POST" th:action="@{/debitcards/new}" th:object="${debitCard}">
    <label for="allExpirationDates">Choose expiration date (in years): </label>
    <select name="allExpirationDates">
        <option th:each="expirationDateInteger : ${allExpirationDates}"
                th:value="${expirationDateInteger}"
                th:text="${expirationDateInteger}">
        </option>
    </select>

    <br>
    <label for="paymentSystem">Choose payment system: </label>
    <select name="paymentSystem">
        <option disabled>Choose payment system</option>
        <option th:each="paymentSystem : ${T(com.alinatkachuk.springtask.entity.PaymentSystem).values()}"
                th:value="${paymentSystem}"
                th:text="${paymentSystem}">

        </option>
    </select>
    <br>
    <input type="submit" value="Create"/>
    <br>
</form>
</body>
</html>