<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/new}" th:object="${user}">
    <label for="firstName">Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br>
    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="birthDate">Choose birth date: </label>
    <input type="date" th:field = "*{birthDate}" id="birthDate"/>
    <br>
    <label for="gender">Choose your gender: </label>
    <select name="gender">
        <option th:each="gender : ${T(com.alinatkachuk.springtask.entity.Gender).values()}"
                th:value="${gender}" th:text="${gender}"></option>
    </select>
    <br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <input type="submit" value="Register"/>
    <br>
</form>
<a href="http://localhost:8080/users">List of users</a>
</body>
</html>